/* reset CSS starts */

*, *::before, *::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;
}

body {
    margin: 0;
    background-color: inherit;
    color: inherit;
    background: #01001c;
    color:#fff;
}

h3 {
    font-size: 1rem;
    margin: 0;
    font-weight: unset;
}

table {
    border-style: hidden;
    border-collapse: collapse;
    font-size: 1rem;
}

button {
    padding: 0;
    margin: 0;
    color: inherit;
    font: inherit;
    line-height: inherit;
    outline: none;
    border: 0;
    background: #ffffff;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

ul, ol {
    padding-inline-start: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    list-style: none;
    margin: 0;
    padding: 0;
}

input {
    font-size: inherit;
    line-height: inherit;
    background-color: #fff;
    padding-block: 0;
    padding-inline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
/* Reset CSS Ends */



.header-container {
    margin-top: 2rem;
    width: 100%
}

.headers {
    width: 90%;
    padding:1rem;
    margin: auto;
    display: table;
    background: #161B224a;
    backdrop-filter: blur(2px);
    border-radius:10rem;
}

/* .headers{
    border-style: none;
  }
   */
  .headers:hover {
     border-style:auto;
    border-color:lightgreen;

  }

.logo{
    display:table-cell;
    width:max-content;
}
.logo img{
    width:10rem;
}
.navbar {
    display: table-cell;
    text-align: right;
    vertical-align: middle;

}
.navbar span{
    margin:0 1rem;
}











/* 
.menu-toggle {
    display: none;
    cursor: pointer;
}
.menu-toggle i {
    font-size: 24px;
} */

/* 
@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 10px;
    }
 */













/* 
    .navbar.active {
        display: flex;
    }
    .menu-toggle {
        display: block;
    } */


.grow-section {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    margin-top: 100px;
}

    .grow-section .dot-section img{
        width: 0.75rem;
        height: 0.75rem;
        top: 10rem ;
        left: 4.75rem ;
        border-radius: 624rem; 
        border: 1px;
        margin-left: -5px;
    }

    .grow-section .line-section img{
        width: 0.1rem;
        height: 16.8rem;
        top: 11.1rem;
        left:5rem;
        border-radius:0.3rem;

    }

    .grow-section .left-section {
        padding: 1rem;
        margin: 0 1rem 0 0;
    }



    .grow-section .title-box{
        width: 21.1rem;
        height: 4.1rem;
        color: rgba(255, 255, 255, 1);
        font-size: 2rem;
        line-height:3.1rem ;
           
    }
    .title-box img{
        width: 9.3rem;
        height: 0.5rem;
        margin-inline-start: 130px;
        margin-bottom: 80px;
        
        
        

    }
    .grow-section .description{
        font-size: 1.5rem;
        width:35rem;
        height: 6.75rem;
        opacity: 70%;
        line-height: 2.25rem;


    }

    .button-section .custom-button{
        width:9.8rem;
        height: 2.5rem;
        border-radius:3.1rem;
        border:0.5px;
        padding:0.6rem 1.25rem 0.6rem 1.25rem;
        gap:0.6rem;
        border: 0.5px solid #fff;
        background: #161B224a;

    }
    .custom-button .arrow-img{
        width:0.6rem ;
        height: 0.6rem;


    }


    .grow-section .button-section{
        width: 9.8rem;
        height:2.5rem;
        border-radius:3.1rem;
        border: 0.5px;
        padding: 0.6rem,1.25rem, 0.6rem, 1.25rem;
        gap: 0.6rem;



    }

    .right-section .image img{
        width: 51rem;
        height: 38rem;
        margin-top: -170px;
        margin-left: -20px;



    }



.services-section {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    margin-top: -120px;

}  

.services-section .left-section .card-section{
    width: 273px;
    height: 370.17px;
    border:solid 1px;
    border-radius: 15.64px;
    border-color: #ffffff;
    padding: 25px;

}
.services-section .left-section .card-section .heading-card {
    display: flex;
    
}
.services-section .left-section .card-section .heading-card  h3{
    margin-left: 25px;
    
}
.services-section .left-section .card-section .card-items{
    display: flex;
    height: 260px;

    
    
}
.services-section .left-section .card-section ul{
    list-style: none;
    line-height: 40px;
    padding: 10px 0px;
    opacity: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.services-section .left-section .card-section button{
    background-color: #01001c;
    border: solid 1px rgb(19, 157, 248) ;
    border-radius: 5px;
    padding: 3px 6px;
    opacity: 70%;

    
}


    .services-section .services{
        display: flex;
        flex-direction: column;
        
        

    }

    .services-section .dot-section img{
        width:25px;
        height: 26pxpx;
        top: 487px;
        left: 69px;
        margin-left: -10px;
        

    }
    .services-section .line-section img{
        width: 60.49px;
        height: 500px;
        top: 611px;
        left: 83px;
        
        

    }

    .services-section .left-section {
        padding: 1rem;
        margin: 0 1rem 0 0;
    }
    .services-section .title-box{
        width: 151px;
        height: 28px;
        top: 478px;
        left: 133px;
        opacity: 70%;
        line-height: 27.58px;
        size: 24px;
        font-weight: 700;


    }
    .services-section .title-box h3{
        font-size: 24px;
        margin-top: -20px;
    }

    .services-section .description{
        width: 539px;
        height: 100px;
        top: 526px;
        left: 133px;
        font-weight: 700;
        font-size: 95px;
    
        letter-spacing: 2%;
        color: white;
        
    }
    .services-section .description h3{
        font-size: 24px;
    }
    


    .services-section .flex-container{
        width: 1200px;
        height: 380.17px;
        top: 664px;
        left: 170px;
        gap: 36px;

    }
    .flex-container .app-section img{
        width: 273px;
        height: 380.17px;
        border-radius: 15.64px;   
    }

    .flex-container .web-section img{
        width: 273px;
        height: 380.17px;
        border-radius: 15.64px;
    }

    .flex-container .ui-section img{
        width: 273px;
        height: 380.17px;
        border-radius: 15.64px;
    }
    .flex-container .digital-section img{
        width: 273px;
        height: 380.17px;
        border-radius: 15.64px;
    }


 


.leading-section {
    width: 90%;
    margin: auto;
    
    display: flex;       


} 
    .leading-section .client1-section .dot-section img{
        width: 22px;
        height: 14px;
        margin-left: -10px;

    }

    .leading-section .client1-section .line-section img{
        width: 3px;
        height: 110px;

    }

    .leading-section .client-section h2{
        width: 343px;
        height: 50px;
        margin-left: -30px;
        margin-top: -20px;

    }

    .leading-section .image1-section img{
        width: 1237px;
        height: 66px;
        border: 5px;
        margin-top: -30px;
        margin-left: 30px;
    }






      


  

.about-section {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    
    
    
}  

    .about-section .about1{
        display: flex;
        flex-direction: column;
    
    } 

    .about-section .dot-section img{
        width: 8.59px;
        height: 8.59px;
        top: 1343px;
        left: 78.21px;
        

    }

    .about-section .line-section img{
        width: 3px;
        height: 300px;
        top: 1392px;
        left: 80px;
        border-radius: 6px;
        

    }

    .about-section .left-section .title-section{
        width: 229px;
        height: 34px;
        top: 1863px;
        left: 133px;
        opacity: 70%;
        font-weight: 700;
        size: 30px;
        
        letter-spacing: 2%;
        font-size: 0px;



    }

    .about-section .left-section .title-section h3{
        font-size: 25px;
        margin-left: 20px;
    
    }


    .about-section .left-section .description h3{
        width: 505px;
        height: 100px;
        top: 1917px;
        left: 133px;
        font-weight: 700;
        size: 35px;
        letter-spacing: 2%;
        font-size: 30px;
        margin-left: 20px;


    }
    .left-section .detail-section{
        width: 474px;
        height: 180px;
        top: 2047px;
        left: 133px;
        opacity: 70%;
        margin-left: 20px;
        font-size: 20px;
        


    }

    .about-section  .right-section .image2-section img{
        width: 538px;
        height: 279px;
        top: 1860;
        left: 732px;
        border-radius: 5px;
        border: 1px;
        margin-left: 100px;

    } 




.company-section {
        width: 90%;
        margin: 1rem auto;  
        display: flex;

        
    }  
    
        .company-section .company1{
            flex-direction: column;
        
        } 
        .company-section .left-section{
            margin-left: 30px;
        }

        .company-section .dot-section img{
            width: 15px;
            height: 20px;
            margin-top: 20px;

        }
        .company-section .line-section img{
            width: 3px;
            height: 438px;
            border-radius: 6px;

        }
        .company-section .left-section .title-section h2{
            width: 235px ;
            height: 34px;
            opacity: 70%;
            letter-spacing: 2%;
            font: 25px;
            

        }
        .company-section .left-section .heading-section h2 {
        
           
            font-size: 30px;
            

        }
        .company-section .description-section{
            width: 1237px;
            height: 144px;
            opacity: 70%;
            line-height: 36px;
            size: 24px;
            font-size: 20px;

            

        }
        
        .company-section .image2-section img{
            width: 960px;
            height: 101px;
            border-radius: 5px;
            border: 1px;
        
        }


.mobile-section {
    width: 90%;
    margin: 1rem auto;  
    display: flex;
          
}  
        
        
        .mobile-section .dot-section img{
            width: 21px;
            height: 21px;
            margin-left: -10px;
            
        }
        .mobile-section .line-section img{
            width: 1.39px;
            height: 218px;
            border-radius: 2.77px;

        }
        .mobile-section .title-section h3{

            width: 170px;
            height: 34px;
            margin-left: 20px;
            opacity: 70%;
            font-size: 20px;
        }

        .mobile-section .heading-section h2{
            width: 376px;
            height: 40px;
            margin-left: 20px;
            margin-top: -5px;
        }


        .mobile-section .image2-section img{
            width: 1233px;
            height: 123px;
            margin-left: 20px;

        }



    

.news-section {
    width: 90%;
    margin: 1rem auto;  
    display: flex;
                  
}  
                
        .news-section .about1{
            flex-direction: column;
                    
        } 

        .news-section .dot-section img{
            width: 21px;
            height: 21px;

        }
        
        .news-section .line-section img{
            width: 1.39px;
            height: 734px;
            border-radius: 2.77px;
        }

        .news-section .heading-section h2{
            width: 410px;
            height: 34px;
            opacity: 70%;

        }
        .news-section .heading1-section h1{
            width: 472px;
            height: 53px;

            

        }

        .news-section .button-section .custom-button{
            width: 100px;
            height: 39px;
            border-radius: 60px;
            
            

        }

        .news-section .image1-section .imag2 img{
            width: 593px;
            height: 396px;
            border-radius: 9.77px;
            border: 1px;

        }
        .news-section .development1-section h2{
            width: 169px;
            height: 22px;
        }

        .news-section .development2-section p{
            width: 117px;
            height: 10px;
            size: 13px;
            line-height: 15px;

        }
        .news-section .development3-section h1{
            width: 538px;
            height: 74px;

        }



.client-section{
    width: 90%;
    margin: 1rem auto;
    display: flex;

}

        .client-section .client{
            display: flex;
            flex-direction: column;
            }

        .client-section .dot-section img{
            width:25px;
            height: 26pxpx;
            top: 487px;
            left: 69px;
            margin-left: -10px;
            }
        .client-section .line-section img{
            width: 63.49px;
            height: 352px;
            top: 611px;
            left: 83px;

            }

          .client-section .heading-section h3{
                width: 114px;
                height: 28px;
                opacity: 70%;
                

          } 
          .client-section .discribe-section h2{
            width: 192px;
            height: 40px;
            margin-left: 5px;
            margin-top: -5px;
      }  


      .client-section .left-section .card-section{
        width: 323px;
        height: 227px;
        border:solid 1px;
        border-radius: 5px;
        border-color: #ffffff;
        
        
    
    }
    .client-section .left-section .card-section .heading-card {
        display: flex;
        
    }
    .client-section .left-section .card-section .heading-card  h3{
        margin-left: 25px;
        
    }

    .client-section .left-section .card-section .heading-card  img{
        
        width: 89px;
        height: 20px;


        
    }
    .client-section .left-section .card-section .card-items{
        display: flex;
        
        
    }
 
    




    .client-section{
        width: 90%;
        margin: 1rem auto;
        display: flex;
            
            }
            .client-section .left-section .review-section{
                display: flex;
                

            
            }
            
                    .client-section .client{
                        display: flex;
                        flex-direction: column;
                        }
            
                    .client-section .dot-section img{
                        width:25px;
                        height: 26pxpx;
                        top: 487px;
                        left: 69px;
                        margin-left: -10px;
                        }
                    .client-section .line-section img{
                        width: 63.49px;
                        height: 300px;
                        top: 611px;
                        left: 83px;
            
                        }
            
                      .client-section .heading-section h3{
                            width: 114px;
                            height: 28px;
                            opacity: 70%;
                            
            
                      } 
                      .client-section .discribe-section h2{
                        width: 192px;
                        height: 40px;
                        margin-left: 5px;
                        margin-top: -5px;
                  } 
                  
                  .client-section .left-section  .review-section .heading-card h3{
                    margin-left: -5px;
                  } 
    
            
            
                  .client-section .left-section .card-section{
                    width: 323px;
                    height: 227px;
                    border:  1px;
    
                    border-radius: 5px;
                    
                    display: flex;
                     padding: 20px; 
                    background: rgba(22, 27, 34, 1);
     
                    opacity: 70%;
            
                    margin-left: 20px; 
                    
                  
      
                }


    
                .client-section .left-section .card-section .heading-card {
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                    margin-top:10px;
                    
                }
                .client-section .left-section .card-section .heading-card .name{
                    text-align: end;
                    
                    
                }
            
                .client-section .left-section .card-section .heading-card  img{
            
                    width: 89px;
                    height: 20px;
            
            
                    
                }
                .client-section .left-section .card-section .card-items{
                    display: flex;
                    flex-direction: column;
                    
                    
                }
             
                
    
    

 

.touch-section {
    width: 90%;
    margin: 1rem auto;  
    display: flex;
     

              
}  
       
        .touch-section .dot-section img{
            width: 21px;
            height: 21px;
            
            
                
        }
        .touch-section .line-section img{
            width: 3px;
            height: 470px;
            border-radius: 2.77px;
    
        
        }  
        
        .touch-section .heading-section h3{
            width: 48px;
            height: 28px;
            opacity: 70%;
            margin-left: 10px;

        }
        .touch-section .description h2{
            width: 441px;
            height: 80px;
            margin-left: 10px;
            margin-top: 10px;

        }

        .touch-section .image img{
            width: 525px;
            height: 432px;
        }
        .touch-section .second-section .images img{
            width: 525px;
            height: 432px;
            padding-top: 120px;
            margin-left: 150px;
        }

        .touch-section .form-group label{
            width: 162px;
            height: 27px;
            font-size: 20px;

        }

        .touch-section .form-group input{
            width: 275px;
            height: 48px;
            background-color: #161B224a;
            opacity: 70%;
            color: white;
            border-radius: 5px;

            
        }

        .touch-section .form1-group label{
            width: 162px;
            height: 27px;
            font-size: 20px;

        }


        .touch-section .form1-group input{
            width: 575px;
            height: 84px;
            background-color: #161B224a;
             opacity: 70%; 
             color: white;
            border-radius: 5px;


            
        } 


        .touch-section .form2-group label{
            width: 162px;
            height: 27px;
            font-size: 20px;

        }


        .touch-section .form2-group input{
            width: 575px;
            height: 84px;
            background-color: #161B224a;
            opacity: 70%;
            color: white;
            border-radius: 5px;


            
        }
        .touch-section .phone{
            margin-top:-70px ;
        }

        .touch-section .phone label{
            width: 162px;
            height: 27px;
            font-size: 20px;
            margin-left: 350px;
            

        }


        .touch-section .phone input{
            width: 275px;
            height: 48px;
            background-color: #161B224a;
            opacity: 70%;
            color: white;
            border-radius: 5px;
            margin-left: 350px;


            
        }
        .touch-section .custom-button{
            width: 164px;
            height: 51px;
        }


        .touch-section .form-section{
            margin-left: 10px;
        } 
 
        .touch-section .touch  .second-section .images img{
            width: 1625px;
            height: 425px;

        }
    













.footer-section{
    width: 100%;
    margin: 1rem auto;
    display: flex;

} 


    .footer-section .final-section{
        width: 1440px;
        height: 341px;

    }
    .footer-section  .footer-container{
        width: 1300px;
        height: 184px;

    }
    .footer-section .footer-container img{
        width: 1440px;

        
    }

    .footer-section .final-section .footer-container .footer img{
        width:197px ;
        height: 38px;
        margin-left: 70px;
        margin-top: 20px;

    }
    .footer-section .final-section .footer-container .description p{
        width: 528px;
        height: 87px;
        margin-left: 70px;
        margin-top: 20px;
        padding-top: 30px;


    }

    .footer-section .final-section .ourServices {
        width: 176px;
        height: 184;
        margin-left: 800px;
        margin-top: -170px;


    }

    .footer-section .final-section .ourServices .Servicesss h3{
        width: 111px;
        height: 29px;

    }

    .footer-section .final-section .ourServices .Servicesss .Services1 p{
        width: 176px;
        height: 139px;
    }


    

    .footer-section .final-section .Contact-section{
        width: 270px;
        height: 126px;

    }

    .footer-section .final-section .Contact-section .contact{
        margin-left: 1100px;
        margin-top: -200px;
    }


    .footer-section .final-section .Contact-section .contact .content-section h2{
        width: 1251px;
        height: 29px;

    }

    .footer-section .final-section .Contact-section .contact .detail-section p{
        width: 270px;
        height: 81px;

    }

     .footer-section .final-section .footer2{
        background-color: rgba(22, 27, 34, 1);
        margin-left: 90px;
        margin-top: 90px;
        width: 100%;
        height: 100px;

    } 

    .footer-section .final-section .footer2 .footer2-content h3{
        width: 469px ;
        height: 24px;
        padding-left: 50px;
        padding-top: 50px;
        
    }


    

    .footer-section .final-section .footer2 .flex-container{
        display:flex;
        
        
    }

    .footer-section .final-section .footer2 .flex-container .media-section{
        width: 278px;
        height: 40px;
        margin-left: 1200px;
        margin-top: -10px;

        
    }

    .footer-section .final-section .footer2 .flex-container .media-section img{
        width: 26px;
        height: 27px;
        margin-left: 10px;

    
    }


/* 
     @media (max-width: 768px) {
        .footer-container {
            flex-direction: column;
            align-items: center;
        }
        .footer2 {
            display: flex;
            justify-content: center;
        }
    }
 

     */




/* 

@media only screen and (max-width:700px){

}     */


/* 

@media screen and (max-width : 800px) {
	.footer-section, .final-section,.Contact-section, .footer2{

		flex-direction: column;
    		height: 100%;
}

} */
@media (min-width: 320px) and (max-width: 480px)
{
    .leading-section .image1-section img
    {
        width: 100%;
        height: auto;
        margin-left: 0;
    }
    .leading-section .client-section h2
    {
        width: 100%;
        height: auto;
        margin-left: 0px;

    }
}









@media (min-width: 320px) and (max-width: 480px){
    .mobile-section .image2-section img {
        width: 100%;
        height: auto;
        margin-left: 20px;
        
    }
    .mobile-section .heading-section h2 {
        width: 100px;
        margin-left: 20px;
        margin-top: -5px;
    }
    .mobile-section .title-section h3 {
        width: 100px;
        margin-left: 20px;
        opacity: 70%;
        font-size: 20px;
    }
}




@media (min-width: 320px) and (max-width: 480px)
{


    /* leading section */ 
    .leading-section .image1-section img
    {
        width: 100%;
        height: auto;
        margin-left: 0;
    }
    .leading-section .client-section h2
    {
        width: 100%;
        height: auto;
        margin-left: 0px;

    }


    /* mobile section */
    .mobile-section .image2-section img {
        width: 100%;
        height: auto;
        margin-left: 20px;
        
    }
    .mobile-section .heading-section h2 {
        width: 100px;
        margin-left: 20px;
        margin-top: -5px;
    }
    .mobile-section .title-section h3 {
        width: 100px;
        margin-left: 20px;
        opacity: 70%;
        font-size: 20px;
    }

/* 
    footer */


    .footer-section
    {
        padding-left: 40px;
         padding-right: 40px;
    }
    .footer-section .final-section {
        width: 100%;
        height: auto;
    }
    .footer-section .footer-container
    {
        width: 100%;
        height: auto;
    }
    .footer-section .footer-container img
    {
        width: 100%;
    }
    .footer-section .final-section .footer-container .footer img
    {
        width: 146px;
        margin-left: 0px;
        margin-top: 0px;
        height:auto !important;
    }
    .footer-section .final-section .footer-container .description p
    {
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
        padding-top: 0px;
    }
    .footer-section .final-section .ourServices
    {
        width: 100%;
        height:auto;
        margin-left: 0px;
        margin-top: 0px;
       
    }
    .footer-section .final-section .Contact-section
    {
        width:auto !important;
        height:auto !important;
    }

    .footer-section .final-section .Contact-section .contact
    {
        margin-left: 0px;
        margin-top: 0px;
    }
    .footer-section .final-section .footer2
    {
        margin-left: 0px;
    margin-top: 0px;
    }
    .footer-section .final-section .footer2 .footer2-content h3
    {
        width: 100%;
        height: auto !important;
        padding-left: 13px;
        padding-top: 20px;
        padding-bottom: 16px;
    }
    .footer-section .final-section .footer2 .flex-container .media-section
    {
        width: 100%; 
    height: auto;
    margin-left: 0px;
    margin-top: 0px; 
    }
    .footer-section .final-section .Contact-section .contact .detail-section p
{
    height: auto;
}
.footer-section .final-section .footer2 .flex-container .media-section img {
    width: 17px;
    height: 17px;
}
}
















