@media (max-width: 1440px) {
    .services-section {
        width: 100%;
    }

    .services-section .description {
        width: 90%;
    }


    .services-section  img.background{
        margin-left:20px;
        

    }
    .services-section .flex-container .app-section img,
    .services-section .flex-container .web-section img,
    .services-section .flex-container .ui-section img,
    .services-section .flex-container .digital-section img {
        width: 100%;
    }
}


 
@media screen and (max-width:768px) {
    #hamburger, #crossBtn{
        display: block;
    }
    #crossBtn {
        position: absolute;
        top: 0;
        right: 24px;
    }
    .navbar {
        display: flex;
        position: absolute;
        right: -100%;
        width: 60%;
        background: #07081e;
        padding: 15px;
        transition: .3s;
    }
    .navbar ul {
        background-color: #07081e;
        flex-direction: column;
        gap: 15px;
        width:100%;
}
} 
 





 @media (min-width: 320px) and (max-width: 480px)
{




     .grow-section{
        height: 400px;
        
    }  
    .right-section .image img{
        width: 29rem;
        height: 38rem;
        margin-top: 270px;
        margin-left: -570px;
        max-width: 0px;
    }
    
    .grow-section .line-section img{
        width: 0.1rem;
        height: 15rem;
        top: 11.1rem;
        left:-35rem;
        border-radius:0.3rem;
    }
    .grow-section .description{
        font-size: 1.5rem;
        width:25rem;
        height: 6.75rem;
        opacity: 70%;
        line-height: 2.25rem;
        margin-left: 20px;
    }

    .grow-section .right-section .image img{
        width: 300px;
        height: 279px;
        
        border-radius: 5px;
        border: 1px;
        margin-left: -740px;
        margin-top: 400px;
    }
 
}



@media (min-width: 320px) and (max-width: 480px){
    .services-section .dot-section img{
        width:55px;
        height: 26pxpx;
        margin-left: 0px;
        margin-top: -20px;
        

    }
    .services-section .line-section img{
        width: 70px;
        height: auto;
        margin-top: 10px;
        margin-left: 20px;    

    }
    .services-section .description{
        width: 100%;
        height: auto;
      
        margin-top: -25px;        
    }


    .services-section  img.background{
        position: absolute;
        width: 200px;
        height: 200px;
         top: 450px;
         right: 0px; 
        z-index: -1;
        animation: rotate 10s infinite linear;
         /* margin-top:730px; */
        /* margin-right: 100px; */
        border: none;
        opacity: 70%;
    

    }
    


}



@media (min-width: 320px) and (max-width: 480px){
.company-section{
    height:auto;
    width: 100%;
}
.company-section .dot-section img{
    width: 45px;
    height: 45px;
    margin-top: 10px;
    margin-left: 5px;

}

.company-section .line-section img{
    width: 5px;
    height: auto;
    border-radius: 6px;
    margin-top: 10px;
    margin-left: 20px;

}

    .company-section .left-section .title-section h2{
        margin-left: -10px;
        width: 100%;
        height: auto;
    }

    .company-section .left-section .heading-section h2 {
        font-size: 25px;
        margin-left: -10px;
        width: 100%;
        height: auto;
    }
    .company-section .description-section{
        width: 100%;
        height: auto;
        opacity: 70%;
        /* line-height: 36px;
        size: 24px;
        font-size: 20px;*/
        margin-left: 0px; 
        padding: 10px;
    }

    .company-section .image2-section img{
        width: 100%;
        height: auto;
        border-radius: 5px;
        border: 1px;
        margin-left: 0px;
        margin-top: 0px;
    }

}

    /* leading section */ 
    @media (min-width: 320px) and (max-width: 480px){
    .leading-section .client1-section .line-section img{
        width: 3px;
        height: 50px;
        margin-top: 10px;

    }
    .leading-section .image1-section img
    {
        width: 100%;
        height: auto;
        margin-left: 0;
        size: 90px;
    }
    .leading-section .client-section h2
    {
        width: 100%;
        height: auto;
        margin-left: -60px;
        margin-top: 20px;

    }

}

    
@media (min-width: 320px) and (max-width: 480px){
    .about-section{
        height: auto;
        width: 100%;
    }

    .about-section .dot-section img{
        width: 45.59px;
        height: 45.59px;
        
        margin-left: 0px;
        margin-top: -10px;
        

    }

    .about-section .line-section img{
        width: 3px;
        height: 630px;
        border-radius: 6px;
        margin-top: 10px;
    margin-left: 20px;
        

    }

    .about-section .left-section .description h3{
        width: 100%;
    }

    .about-section .left-section .detail-section{
        width: 100%;
        height: auto;
        /* top: 2047px;
        left: 133px; */
        opacity: 70%;
        margin-left: 20px;
        /* font-size: 20px; */
        margin-left: 30px;
    }


    .about-section  .right-section .image2-section img{
        width: 300px;
        height: 279px;
        
        border-radius: 5px;
        border: 1px;
        margin-left: -540px;
        margin-top: 400px;

    }  

}




    /* mobile section */
    @media (min-width: 320px) and (max-width: 480px){
     .mobile-section .line-section img{
        width: 4.39px;
        height: 118px;
        border-radius: 9px;
        margin-top: 10px;

    }
    .mobile-section .image2-section img {
        width: 100%;
        height: auto;
        margin-left: 20px;
        margin-top:10px ;
        
    }
    .mobile-section .heading-section h2 {
        width: 300px;
        margin-left: 20px;
        margin-top: -5px;
    }
    .mobile-section .title-section h3 {
        width: 400px;
        margin-left: 20px;
        opacity: 70%;
        font-size: 20px;
    }


}





@media (min-width: 320px) and (max-width: 480px){

.news-section{
    height: 1400px;
    width: 100%;
}


    
.news-section .news .dot-section img{
    width: 51px;
    height: 51px;
    margin-left: 0px;
    margin-top: -10px;

}


    .news-section .line-section img{
        width: 5.39px;
        height: 1380px;
        border-radius: 2.77px;
        margin-left: 20px;
    }
   

    .news-section  .left-section .button-section .custom-button{
        width: 100%;
        height: auto;
        border-radius: 60px;
        /* margin-right:800px; */
        
        

    } 


    .news-section  .heading-section h2{
        width: 410px;
        height: 34px;
        opacity: 70%;
        font-family: ubuntu;
        /* letter-spacing: 2%; */
        /* line-height: 34px; */
        margin-left:10px;
        
    } 

    .news-section .about-section .about h1{
        width: 1237px;
        height: 53px;
        /* justify-content: space space-between; */
        /* margin-top: -10px; */
        /* margin-left: -60px; */
        margin-left: 10px;

    } 


/* 
 .news-section .picture img{
            width: 100%;
            height: auto;
            border-radius: 9.77px;
            border: 1px solid rgba(48, 54, 61, 1);
            margin-left: px; 
             margin-top: -1100px;
        } */

        .news-section .picture img{
            width: 494px;
            height: 260px;
            border-radius: 9.77px;
            border: 1px solid rgba(48, 54, 61, 1);
            margin-left: px;
            margin-top: px;
            
    
        }

        .news-section .describe-section .describe h2{
            width: 100%;
            height: auto;
            font: ubuntu;
            line-height: 22.46px; 
             margin-top: -30px;  
            /* margin-left: 70px; */
    }
    
    .news-section .describe-section .describe h4{
        width: 100%;
        height: auto;
        font:ununtu;
        margin-top: 10px;
    }
        

         .news-section .describe2-section .describe p{
            width: 393px;
            height: 73px;
            font:ununtu;
            color: rgba(163, 163, 163, 1);
            margin-top: 20px;
    
        }


        /* .news-section .right-section .describe{
            margin-top: 160px;
        } */


        .news-section .right-section .describe img{
            width: 188px;
            height: 183px;
            border-radius: 9.77px;
           
             margin-left: -680px;
            margin-top:120px; 
             margin-left:-1290px;

            margin-top:800px;
            
    
        } 



        .news-section .right-section .describe1 img{
            width: 188px;
            height: 183px;
            border-radius: 9.77px;
            margin-left: -1290px;
            margin-top:-360px;
            
            
    
        } 


        .news-section .right-section .describe2 img{
            width: 188px;
            height: 183px;
            border-radius: 9.77px;
            border-radius: 1px;
            margin-left: -1290px;
            margin-top:-330px;
    
        } 
    
        .news-section .right-section .describe{
            width: 489px;
            height: 373px;
            
        }      
        .news-section .right-section .describe .describe3 h2{
            width: 269px;
            height: 22px;
            margin-top: -180px;
            margin-left: -1090px;
            font-size: 15px;
        }
    
        .news-section .right-section .describe .describe3 h4{
            width: 217px;
            height: 15px;
            margin-top: -5px;
            margin-left: -1090px;
            font-size: 10px;
        }
        .news-section .right-section .describe3-section .describe1 h4{

            width:250px;
            height: 50px;
            margin-left: -1090px;
            margin-top: -5px;
            font-size: 15px;
    
        }
     
          .news-section .right-section .describe .describe4-section .describe  p{
            width:450px;
            height: 93px;
            margin-left: -1090px;
            margin-top: -20px;
        } 


        .news-section .right-section .describe1 .describe3 h2{
            width: 269px;
            height: 22px;
            margin-top: -290px;
            margin-left: -1090px;
            font-size: 15px;

        }


        .news-section .right-section .describe2 .describe3 h2{
            width: 269px;
            height: 22px;
            margin-top: -280px;
            margin-left: -px;
            font-size: 15px;

        }


    }


 
 @media (min-width: 320px) and (max-width: 480px){

    .client-section{
        width: 100%;
        height: auto;
        
    }
    .client-section .dot-section img{
        width:55px;
        height: 56pxpx;
        top: 487px;
        left: 69px;
        margin-left: -85px;

        }
    .client-section .line-section img{
        width: 63.49px;
        height: 300px;
        margin-top: 10px;
        margin-left: -60px;

        }

        .client-section1 .heading-section h3{
            width: 114px;
            height: 28px;
            opacity: 70%;
            margin-top: 20px;
            margin-left: -0px;

      } 
      .client-section .discribe-section h2{
        width: 192px;
        height: 40px;
        margin-left: 10px;
        margin-top: -5px;
  }  

 }



 @media (min-width: 320px) and (max-width: 480px){  
.touch-section {
    width: 100%;
    height: 860px;

                          
}   

    .touch-section .dot-section img{
        width: 45px;
        height: 55px;
        margin-left: 5px;
        margin-top: -15px;
            
    }
    .touch-section .line-section img{
        width: 3px;
        height: 800px;
        border-radius: 2.77px;
        margin-top: 10px;
        margin-left: 25px;
    }

    .touch-section .heading-section h3{
        width: 100px;
        height: 18px;
        opacity: 70%;
        margin-left: 10px;
    }

    .touch-section .description h2{
        width: 441px;
        height: 80px;
        margin-left: 10px;
        margin-top: 10px;

    }


    .touch-section .form-group label{
        width: 339px;
        height: 459px;
        font-size: 20px;
        margin-left: 17px;
        margin-top: 20px;
        gap: 20px;
      
    }

    .touch-section .form-group input{
        width: 175px;
        height: 45px;
        background-color: #161B224a;
        opacity: 70%;
        color: white;
        border-radius: 5px;
        margin-left: 10px;
        
    }

    .touch-section .form1-group label{
        width: 162px;
        height: 27px;
        font-size: 20px;
        margin-left: 10px;
        margin-top:20px;


    }

    .touch-section .form1-group input{
        width: 375px;
        height: 84px;
        background-color: #161B224a;
         opacity: 70%; 
         color: white;
        border-radius: 5px;
        margin-left: 20px;

    } 
    .touch-section .form2-group label{
        width: 162px;
        height: 27px;
        font-size: 20px;
        margin-left: 10px;
        margin-top: 10px;

    }
    .touch-section .form2-group input{
        width: 375px;
        height: 84px;
        background-color: #161B224a;
        opacity: 70%;
        color: white;
        border-radius: 5px;
        margin-left: 10px;    
    }
    .touch-section .phone{
        margin-top:-70px ;
        margin-left: 20px;

    }
    .touch-section .phone label{
        width: 162px;
        height: 27px;
        font-size: 20px;
        margin-left: 20px;
    }
    .touch-section .phone input{
        width: 100px;
        height: 48px;
        background-color: #161B224a;
        opacity: 70%;
        color: white;
        border-radius: 5px;
        margin-left: 20px;
        /* border-color: none; */
        
    }

    .touch-section .second-section .images img{
        width: 400px;
        height: 432px;
        padding-top: 120px;
        margin-left: -450px;
        margin-top: 450px;
    } 
}





    





    /* main */


    @media (min-width: 320px) and (max-width: 480px){

    

    .footer-section
    {
        padding-left: 50px;
         /* padding-right: 50px; */
    }
    .footer-section .final-section {
        width: 100%;
        height: auto;
    }
    .footer-section .footer-container
    {
        width: 100%;
        height: auto;
    }
    .footer-section .footer-container img
    {
        width: 100%;
    }
    .footer-section .final-section .footer-container .footer img
    {
        width: 146px;
        margin-left: 0px;
        margin-top: 0px;
        height:auto !important;
    }
    .footer-section .final-section .footer-container .description p
    {
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
        padding-top: 0px;
    }
    .footer-section .final-section .ourServices
    {
        width: 100%;
        height:auto;
        margin-left: 0px;
        margin-top: 40px;
       
    }
    .footer-section .final-section .Contact-section
    {
        width:auto !important;
        height:auto !important;
    }

    .footer-section .final-section .Contact-section .contact
    {
        margin-left: 0px;
        margin-top: 0px;
    }
    .footer-section .final-section .footer2
    {
        margin-left: 0px;
    margin-top: 90px;
    }
    .footer-section .final-section .footer2 .footer2-content h3
    {
        width: 100%;
        height: auto !important;
        padding-left: 13px;
        padding-top: 20px;
        padding-bottom: 16px;
        
         
    }
    .footer-section .final-section .footer2 .flex-container .media-section
    {
        width: 100%; 
    height: auto;
    margin-left:10px;
     margin-top: 5px; 
    }
    .footer-section .final-section .Contact-section .contact .detail-section p
{
    height: auto;
    
}
.footer-section .final-section .footer2 .flex-container .media-section img {
    width: 17px;
    height:17px;
    
}
 
}






                 /* ABOUT US PAGE */




@media (min-width: 320px) and (max-width: 480px){
    

    /* .about-section1{
        width: 100%;
        height: auto;
        padding: 20px 20px 20px 20px;

    }
    .about-section1 .left-section .heading {
        width: 100%;
        height: auto ;
        font-size: 50px;
        margin-left: 50px;
        margin-top: 0px; 
    }


    .about-section1 .right-section .image{
        height:auto !important;
        width:100% !important;
        background-color: rgba(22, 27, 34, 1);
        border: solid 0.5px #404040;
        border-radius: 5px;
        margin-left: 0px !important;
        margin-top: 0px !important;
 
    }
    .about-section1 {
        width: 100%;
        margin: auto;
        display: block;
        margin-top: 0px;
    }
    .about-section1 .line-section img {
        width: 3px;
        height: 600px;
    }
    
    .about-section1 .left-section .heading
    {
        width:100% !important;
        height: auto !important;
    }
    .about-section1 .right-section .image img{
            
        margin: 0px !important;
         width: 100% !important;
         height: auto !important;
        
    } */




    .about-section1 {
        width: 100%;
        height: auto;
        padding :20px; 

    }
    
            .about-section1 .dot-section img{
                width: 12px;
                height: 12px;
            }
    
            .about-section1 .line-section img{
                width: 3px;
                height: 650px;
            

                
            }
    
            .about-section1 .left-section .heading {
                /* width: 264px;
                height: 80px;
                font-size: 50px;
                margin-left: 50px;
                margin-top: 300px; */
                width: 100%;
                height: auto;
                margin-top: -30px;

            }
    
    
            .about-section1 .left-section .heading img{
                /* width: 190px;
                height: 8px;
                margin-bottom: 30px; */
                /* width: 100%; */
                height: auto;
                margin-top: -20px;
            }
    
            .about-section1 .right-section .image{
                /* height:580px;
                width:820px;
                background-color: rgba(22, 27, 34, 1);
                border: solid 0.5px #404040;
                border-radius: 5px;
                margin-left: 190px; */
                width: 380px;
                height: 600px; 
                margin-left: -300px;
                margin-top: 70px;
            }
            .about-section1 .right-section .image img{
                
                /* margin-left: 70px;
                width: 650px;
                height: 480px;
                margin-top: 40px; */
                width: 250px;
            
                
                
            }

}
 






















@media (min-width: 320px) and (max-width: 480px){

    .services-section1{
        width: 100%;

    }


    .services-section1 .dot-section img{

        width:55px;
        height: 26px;
        margin-left: 0px;
        margin-top: 0px;
        

    }
    .services-section1 .line-section img{
        width: 70px;
        height: 500px;
        margin-top: 10px;
        margin-left: 20px;    

    }

    .services-section1  img.background{
        position: absolute;
        width: 200px;
        height: 200px;
         /* top: 0px;
         right: 0px;  */
        z-index: -1;
        animation: rotate 10s infinite linear;
         /* margin-top:920px;
        margin-right: 100px; */
        border: none;
        opacity: 30%;
     

    }
    
    .services-section1 .left-section {
        padding: 1rem;
        width: 90%;
    }
    .services-section1 .title-box{
        width: 151px;
        height: 28px; 
        /* opacity: 70%; */
        


    }
    .services-section1 .title-box h3{
        /* font-size: 24px; */
        margin-top: -10px;
        margin-left: -20px;
        width: 100%;
        height: auto;
    }

    .services-section1 .description{
        width: 100%;
        height: auto;
      
        margin-top: -25px;        
    }
    .services-section1 .description h2{
        font-size: 34px;
        margin-left: -20px;
    }






}




@media (min-width: 320px) and (max-width: 480px){
    .choose-section{
        width: 100%;
        height: auto;

                    
    }

    .choose-section .choose .dot-section img{
        width: 55px;
        height: 55px;
        margin-left: -5px;
    }

    .choose-section .choose .line-section img{
        width: 3px;
        height: 1300px;
        margin-top: 30px;
        margin-left: 20px;
    }


    .choose-section .description {
        /* width: 350px;
        height: 396px;
        opacity: 70%;
        line-height: 36px; 
        margin-left: 0px;
        font: ubuntu;
        font-size: 14px;
        margin-left: 20px; */
        width: 100%;
        height: auto;
        flex-direction: column;


    }

    .choose-section .bottom .bottom-image img{
        width: 400px;
        height: 101px;
         border-radius: 5px;
        margin-top: px;
        margin-left: -25px;      
    }

    .choose-section  .image-section img{
           width: 350px;
        height: 502px;
        border-radius: 5px;
        border-radius: 1px;
        margin-left: -400px;
        margin-top: 850px; 
         /* width: 100%; */
        height: auto;

    }
}




@media (min-width: 320px) and (max-width: 480px){
    
    .client-section1{
        width:90%;
        height: auto;
        


    }
    .client-section1 .dot-section img{
        width:100%;
        height: 56px;
        top: 487px;
        left: 69px;
        margin-left: -70px;

        }
    .client-section1 .line-section img{
        width: 63.49px;
        height: 300px;
        margin-top: 20px;
        margin-left: -60px;

        }

        .client-section1 .heading-section h3{
            width: 114px;
            height: 28px;
            opacity: 70%;
            margin-top: 20px;
            margin-left: 0px;

      } 
      .client-section1 .discribe-section h2{
        width: 192px;
        height: 40px;
        margin-left: 10px;
        margin-top: -5px;
  } 

}
















@media (min-width: 320px) and (max-width: 480px){
.touch-section1 {
    
    height: 830px;
    width: 100%;

                          
}   

    .touch-section1 .dot-section img{
        width: 45px;
        height: 55px;
        margin-left: 2px;
        margin-top: -15px;
            
    }
    .touch-section1 .line-section img{
        width: 3px;
        height: 800px;
        border-radius: 2.77px;
        margin-top: 10px;
        margin-left: 20px;

    
    } 

    .touch-section1 .heading-section h3{
        width: 100px;
        height: auto;
        opacity: 70%;
        margin-left: 10px;
    
    }

    .touch-section1 .description h2{
        width: 100%;
        height: 80px;
        margin-left: 10px;
        margin-top: 10px;

    }


    .touch-section1 .form-group label{
        width: 100%;
        height: auto;
        font-size: 20px;
        margin-left: 10px;
        margin-top: 20px;
      
    }

    .touch-section1 .form-group input{
        width: 100%;
        height: auto;
        background-color: #161B224a;
        opacity: 70%;
        color: white;
        border-radius: 5px;
        margin-left: 10px;
        
    }

    .touch-section1 .form1-group label{
        width: 100%;
        height: auto;
        font-size: 20px;
        margin-left: 10px;
        margin-top:20px;

    }

    .touch-section1 .form1-group input{
        width: 100%;
        height: auto;
        background-color: #161B224a;
         opacity: 70%; 
         color: white;
        border-radius: 5px;
        margin-left: 20px;

    } 
    .touch-section1 .form2-group label{
        width: 100%;
        height: auto;
        font-size: 20px;
        margin-left: 10px;
        margin-top: 10px;

    }
    .touch-section1 .form2-group input{
        width: 100%;
        height: auto;
        background-color: #161B224a;
        opacity: 70%;
        color: white;
        border-radius: 5px;
        margin-left: 10px;    
    }
    .touch-section1 .phone{
        margin-top:-70px ;
        /* margin-left: -250px; */
        
    }
    .touch-section1 .phone label{
        width: 162px;
        height: 27px;
        font-size: 20px;
        margin-left: -200px;
    }
    .touch-section1 .phone input{
        width: 100px;
        height: 48px;
        background-color: #161B224a;
        opacity: 70%;
        color: white;
        border-radius: 5px;
        margin-left: 20px;
        /* border-color: none; */
        
    }
   
  


    
    .touch-section1 .second-section .images img{
        width: 325px;
        height: 432px;
        padding-top: 120px;
        margin-left: -430px;
        margin-top: 420px;
    }


}




@media (min-width: 320px) and (max-width: 480px){
    .footer-section1
    {
        padding-left: 40px;
         padding-right: 40px;
         
    }
    
    .footer-section1 .final-section {
        width: 100%;
        height: auto;
    }
    .footer-section1 .footer-container
    {
        width: 100%;
        height: auto;
    }
    .footer-section1 .footer-container img
    {
        width: 100%;
    }
    .footer-section1 .final-section .footer-container .footer img
    {
        width: 146px;
        margin-left: 0px;
        margin-top: 0px;
        height:auto !important;
    }
    .footer-section1 .final-section .footer-container .description p
    {
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
        padding-top: 40px;
    }
    .footer-section1 .final-section .ourServices
    {
        width: 100%;
        height:auto;
        margin-left: 0px;
        margin-top: 0px;
       
    }
    .footer-section1 .final-section .Contact-section
    {
        width:auto !important;
        height:auto !important;
    }

    .footer-section1 .final-section .Contact-section .contact
    {
        margin-left: 0px;
        margin-top: 0px;
    }
    .footer-section1 .final-section .footer2
    {
        margin-left: 0px;
    margin-top: 90px;
    }
    .footer-section1 .final-section .footer2 .footer2-content h3
    {
        width: 100%;
        height: auto !important;
        padding-left: 13px;
        padding-top: 20px;
        padding-bottom: 16px;
    }
    .footer-section1 .final-section .footer2 .flex-container .media-section
    {
        width: 100%; 
    height: auto;
    margin-left: 10px;
    margin-top: 5px; 
    }
    .footer-section1 .final-section .Contact-section .contact .detail-section p
{
    height: auto;
}
.footer-section1 .final-section .footer2 .flex-container .media-section img {
    width: 17px;
    height:17px;
    /* margin-left: 20px; */

}

}















                                            /* CONTACT US PAGE */


@media (min-width: 320px) and (max-width: 480px){
    
    .contact-section{
        width: 100%;
        padding-left: 20px;
        
        

    }

    .contact-section .line-section img{
        width: 3px;
        height:850px;

        
    }



    .contact-section .left-section .heading {
        width: 100%;
        height: auto;
        margin-left: 50px;
        margin-top: -5px;

    }


    .contact-section .left-section .heading img{
        width: 190px;
        height: 8px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .contact-section .right-section .image{
        height:700px;
        width:350px;
        /* background-color: rgba(22, 27, 34, 1);
        border: solid 0.5px #404040; */
        /* border-radius: 5px; */
        margin-left: -280px;
        margin-top: 120px;

 
    }
    .contact-section .right-section .image img{
        width: 300px;
        /* margin: 80px; */
        /* margin-left: 15px; */
        
      
    }

}





/* 
    .form-section .form .dot-section img{
        width:45px ;
        height: 45px;
        margin-left: inherit;
    
    }

    .form-section .form .line-section img{
        width:3px ;
        height: 730px;
        margin-left: 20px;
        
    }

    .form-section .left-section {
        background: rgba(22, 27, 34, 1); 
        padding: 10px 20px 10px 20px;
        border-radius: 10px;
        max-width: 400px;
        
        text-align: center;
        
        

        width: 415px;
        height: 216px;
        margin-left: -10px;
        margin-top: 70px;



    }

    .form-section  img.background{
        position: absolute;
        width: 200px;
        height: 200px;
        top: -80px;
        right: -10px;
        z-index: -1;
        animation: rotate 10s infinite linear;
         margin-top: 90px;
        margin-left: 70px;
        border: none;
        opacity: 70%;



    }


    .form-section .right-section{
        background: rgba(22, 27, 34, 1); 
        padding: 30px 30px 30px 30px;
        border-radius: 10px;
        margin-top: 292px;
        margin-left: -400px;
        width: 670px;
        height: 516px;
    }


    .form-section .final-form input{
        width: 150px;
        height: 48px;
        
   }



   
   .form-section .phone{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-left: 170px;
    margin-top: -100px;
}

.form-section  .phone input{
    width: 170px;
    height: 48px;
    background-color: #161B224a;
    color: white;
    border-radius: 10px;
    border: 0.5px solid rgba(48, 54, 61, 1);
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: -10px;
}


.form-section .form11-group input{
    width: 275px;
    height: 48px;
    background-color: #161B224a;
    color: white;
    border-radius: 10px;
    border: 0.5px solid rgba(48, 54, 61, 1);
    padding: 5px 10px;
    border-radius: 5px;
     margin-top: 50px; 
     margin-left:-50px;
     
}


.form-section .form22-group input{
    width: 275px;
    height: 48px;
    background-color: #161B224a;
    color: white;
    border-radius: 10px;
    border: 0.5px solid rgba(48, 54, 61, 1);
    padding: 5px 10px;
    border-radius: 5px;
     margin-top: 50px; 
     margin-left:-80px;
}

 */




 @media (min-width: 320px) and (max-width: 480px){
.form-section{
    width: 100%;
    height: auto;

}



 .form-section .form .dot-section img{
    width:45px ;
    height: 45px;
    margin-left: inherit;

}

.form-section .form .line-section img{
    width:3px ;
    height: 930px;
    margin-left: 20px;
    
}

.form-section .left-section {
    /* background: rgba(22, 27, 34, 1); 
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    max-width: 400px;
     */
    /* text-align: center; */
    
    

    width: 100%;
    height: auto !important;
    padding: 10px 20px 20px 10px;
    /* margin-left: -10px;
    margin-top: 70px; */



}

.form-section  img.background{
    position: absolute;
    width: 200px;
    height: 200px;
    top: -80px;
    right: -10px;
    z-index: -1;
    animation: rotate 10s infinite linear;
     margin-top: 90px;
    margin-left: 70px;
    border: none;
    opacity: 70%;



}



.form-section .right-section{
    /* background: rgba(22, 27, 34, 1); 
    padding: 30px 30px 30px 30px;
    border-radius: 10px;
    margin-top: 292px;
    margin-left: -400px;
    width: 670px;
    height: 516px; */
    width: 100%;
    height: auto !important;
    margin-left: -400px;
    margin-top: 250px;
    
}

.footer-section .final-form{
    width: 100%;
    position: absolute;

}



.form-section .final-form input{
    width: 100%;
    height: auto;
    
}




.form-section .phone{
display: flex;
flex-direction: column;
/* font-size: 20px;
margin-left: 170px;
margin-top: -100px; */
margin-left: 0px;
margin-top: 40px;
}

.form-section  .phone input{
width: 100%;
height: auto;
 background-color: #161B224a;
color: white;
border-radius: 10px;
border: 0.5px solid rgba(48, 54, 61, 1); 
padding: 5px 10px;
 border-radius: 5px;
margin-top: -10px; 
}


.form-section .form11-group input{
width: 100%;
height: 48px;
background-color: #161B224a;
color: white;
border-radius: 10px;
border: 0.5px solid rgba(48, 54, 61, 1);
padding: 5px 10px;
border-radius: 5px;
 margin-top: 50px; 
 margin-left:-50px;
 
}


.form-section .form22-group input{
width: 1005;
height: auto;
background-color: #161B224a;
color: white;
border-radius: 10px;
border: 0.5px solid rgba(48, 54, 61, 1);
padding: 5px 10px;
border-radius: 5px;
 margin-top: 50px; 
 margin-left:-80px;

}


 }




 @media (min-width: 320px) and (max-width: 480px){
.map-section .map img{
    /* width: 370px; */
    height: 442px;
    border: 1px;
    border-radius: 5px;
    margin-left:40px;
    /* margin-top: 220px;  */
     width: 100%; 
    

}

 }



 @media (min-width: 320px) and (max-width: 480px){

 

    .footer-section2
    {
        padding-left: 40px;
         padding-right: 40px;
    }
    .footer-section2 .final-section {
        width: 100%;
        height: auto;
    }
    .footer-section2 .footer-container
    {
        width: 100%;
        height: auto;
    }
    .footer-section2 .footer-container img
    {
        width: 100%;
    }
    .footer-section2 .final-section .footer-container .footer img
    {
        width: 146px;
        margin-left: 0px;
        margin-top: 0px;
        height:auto !important;
    }
    .footer-section2 .final-section .footer-container .description p
    {
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
        padding-top: 0px;
    }
    .footer-section2 .final-section .ourServices
    {
        width: 100%;
        height:auto;
        margin-left: 0px;
        margin-top: 40px;
       
    }
    .footer-section2 .final-section .Contact-section
    {
        width:auto !important;
        height:auto !important;
    }

    .footer-section2 .final-section .Contact-section .contact
    {
        margin-left: 0px;
        margin-top: 0px;
    }
    .footer-section2 .final-section .footer2
    {
        margin-left: 0px;
    margin-top: 90px;
    }
    .footer-section2 .final-section .footer2 .footer2-content h3
    {
        width: 100%;
        height: auto !important;
        padding-left: 13px;
        padding-top: 20px;
        padding-bottom: 16px;
    }
    .footer-section2 .final-section .footer2 .flex-container .media-section
    {
        width: 100%; 
    height: auto;
    margin-left: 10px;
    margin-top: 5px; 
    }
    .footer-section2 .final-section .Contact-section .contact .detail-section p
{
    height: auto;
}
.footer-section2 .final-section .footer2 .flex-container .media-section img {
    width: 17px;
    height:17px;
    /* margin-left: 20px; */

}

}




















@media (min-width: 320px) and (max-width: 780px){
    .footer-section3
    {
        padding-left: 40px;
         padding-right: 40px;
         
    }
    
    .footer-section3 .final-section {
        width: 100%;
        height: auto;
    }
    .footer-section3 .footer-container
    {
        width: 100%;
        height: auto;
    }
    .footer-section3 .footer-container img
    {
        width: 100%;
    }
    .footer-section3 .final-section .footer-container .footer img
    {
        width: 146px;
        margin-left: 0px;
        margin-top: 0px;
        height:auto !important;
    }
    .footer-section3 .final-section .footer-container .description p
    {
        width: 100%;
        margin-left: 0px;
        margin-top: 0px;
        padding-top: 40px;
    }
    .footer-section3 .final-section .ourServices
    {
        width: 100%;
        height:auto;
        margin-left: 0px;
        margin-top: 0px;
       
    }
    .footer-section3 .final-section .Contact-section
    {
        width:auto !important;
        height:auto !important;
    }

    .footer-section3 .final-section .Contact-section .contact
    {
        margin-left: 0px;
        margin-top: 0px;
    }
    .footer-section3 .final-section .footer2
    {
        margin-left: 0px;
    margin-top: 90px;
    }
    .footer-section3 .final-section .footer2 .footer2-content h3
    {
        width: 100%;
        height: auto !important;
        padding-left: 13px;
        padding-top: 20px;
        padding-bottom: 16px;
    }
    .footer-section3 .final-section .footer2 .flex-container .media-section
    {
        width: 100%; 
    height: auto;
    margin-left: 10px;
    margin-top: 5px; 
    }
    .footer-section3 .final-section .Contact-section .contact .detail-section p
{
    height: auto;
}
.footer-section3 .final-section .footer2 .flex-container .media-section img {
    width: 17px;
    height:17px;
    /* margin-left: 20px; */

}

}




